<html>

<head>
    <meta charset="UTF-8" />
    <title>Grid Dashbord</title>
    <link rel="stylesheet" href="../css/grid.css" />
</head>

<body>
    <div class="grid-container">
        <div class="item-a item-content">
            <div class="w-80 item-content pv4">
                <p class="b ttu f6 sans-serif"><a href="https://www.mathgoodies.com/articles/connect_math">Math Goodies</a></p>
                <h3 class="playfair b lh-title f1 mv0 pt3">
                    </a>
                    Math Connections
                </h3>
                <p class="pb4 pt3 lora">
                    <span class="i">Gisele Glosser</span>
                </p>
                <p class="lora w-90 center lh-title f5">
                    I have always been fascinated by connections between math and other disciplines. From my experience, students are more motivated to learn math when these connections are made in the classroom. This article is devoted to connecting math with other disciplines
                    (science, social studies, etc.) and with the real world. It includes teaching ideas as well as links to related resources.
                </p>
            </div>
        </div>
        <div class="item-b item-content">
            <div class="w-80 pv4">
                <p class="b f6 sans-serif"><a href="https://www.mathgoodies.com/articles/numbers">Math Goodies</a></p>
                <h3 class="playfair b lh-title f1 mv0 pt3">
                    Types of Numbers
                </h3>
                <p class="pb4 pt3 lora">
                    <span class="i">Alessandro Piperno</span>
                </p>
                <p class="lora w-90 center lh-title f5">
                    Those ten simple symbols, digits, or numbers that we all learn early in life that influence our lives in far more ways than we could ever imagine. Have you ever wondered what our lives would be like without these 10 elegant digits and the infinite array
                    of other numbers that they can create? Birthdays, ages, height, weight, dimensions, addresses, telephone numbers, license plate numbers, credit card numbers, PIN numbers, bank account numbers, radio/TV station numbers, time, dates,
                    years, directions, wake up times, sports scores, prices,, accounting, sequences/series of numbers, magic squares, polygonal numbers, factors, squares, cubes, Fibonacci numbers, perfect...
                </p>
            </div>
        </div>
        <div class="item-c item-content">
            <div class="w-80 item-content pv4">
                <p class="b ttu f6 sans-serif"><a href="https://www.scientificamerican.com/article/beautiful-math/">scientific american</a></p>
                <h3 class="playfair b lh-title f1 mv0 pt3">
                    Beautiful Math
                </h3>
                <p class="pb4 pt3 lora">
                    <span class="i">By Josh Fischman</span> on May 22, 2019
                </p>
                <p class="lora w-90 center lh-title f5">
                    Stephen Ornes has always found mathematics attractive. The journalist has written articles about the discipline, but lately he has focused on the startling visual attractions created by artists who follow mathematical rules of group theory or rotations.
                    Ornes gave Scientific American readers a gallery of such images and sculptures in “Art by the Numbers” in the August 2018 issue.
                </p>
            </div>
        </div>
        <div class="item-d item-content">
            <div class="w-80 item-content pv4">
                <p class="ttu f7 sans-serif"><a href="https://www.scientificamerican.com/article/found-a-quadrillion-ways-for-string-theory-to-make-our-universe/">scientific american</a></p>
                <div class="playfair lh-title mv0 pt3">
                    Found: A Quadrillion Ways for String Theory to Make Our Universe
                </div>
            </div>
        </div>
        <div class="item-e">
            <div class="w-80 item-content pv4">
                <p class="f7 sans-serif"><a href="https://www.scientificamerican.com/article/loopy-particle-math/">Scientific American</a></p>
                <div class="playfair lh-title mv0 pt3">
                    Loopy Particle Math
                </div>
            </div>

        </div>
        <div class="item-f">
            <div class="w-80 item-content pv4">
                <p class="ttu f7 sans-serif"><a href="https://www.scientificamerican.com/article/unraveling-the-mathematics-of-smell/">Scientific American</a></p>
                <div class="playfair lh-title mv0 pt3">
                    Unraveling the Mathematics of Smell
                </div>
            </div>
        </div>
        <div class="item-g">
            <div class="w-80 item-content pv4">
                <p class="ttu f7 sans-serif"><a href="https://www.scientificamerican.com/podcast/episode/data-reveals-most-influential-movies/">Scientific American</a></p>
                <div class="playfair lh-title mv0 pt3">
                    Data Reveals Most Influential Movies
                </div>
            </div>
        </div>
    </div>
</body>

</html>